apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- ingress.yaml

commonLabels:
  app: ci-excellence
  managed-by: ci-excellence

commonAnnotations:
  config.ci-excellence.io/version: "1.0.0"
  config.ci-excellence.io/managed: "true"